*{
    margin: 0;
    padding: 0;
}


/* Header section */
.header{
    width: auto;
    height: 850px;
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-content{
    margin-left: 200px;
}
.header-title{
    display: flex;
    width: 708px;
    color: #272727;
    font-family: Lato, serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 15px;
}
.header-description{
    display: flex;
    width: 634px;
    flex-direction: column;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 25px;
}
.custom-button{
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: #FFF;
    font-family: Lato, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.header-image{
    width: 635px;
    height: 860px;
    margin-top: 110px;
    margin-right: 200px;
}



/* Main section Feature */
.feature-title{
    color: #272727;
    margin-top: 130px ;
    text-align: center;
    font-family: Lato, serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.feature-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 7px;
}
.feature-image{
    margin-top: 80px;
    display: flex;
    width: auto;
    padding: 5px;
    justify-content: center;
}
.image-item1{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0 0;
    background: rgba(167, 33, 98, 0.15);
    margin: 10px;
}
.image-item2{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0 0;
    background: rgba(5, 151, 160, 0.15);
    margin: 10px;
}
.image-item3{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0 0;
    background: rgba(71, 125, 17, 0.15);
    margin: 10px;
}
.image-item1 .img1{
    margin: 110px 76px 0 76px;
}
.image-item2 .img2{
    margin: 117px 47px 47px 51px;
}
.image-item3 .img3{
    margin: 66px 76px 0 76px;
}
.image-title{
    color: #272727;
    text-align: center;
    font-family: Lato, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}


/* Main section service area */
.service{
    width: auto;
    height: 320px;
    margin: 150px 200px 150px 200px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.image{
    width: 88px;
    height: 88px;
    margin-left: 70px;
}
.service-title{
    color: rgba(39, 39, 39, 0.80);
    font-family: Lato, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin: 5px;
}